Repository antoffee/chat-app-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0 --fix \"src/**/*.+(js|jsx|ts|tsx|json)\"",
        "prettier --write \"src/**/*.+(js|jsx|ts|tsx|json)\""
    ],
    "src/**/*.{css,scss,less,sass}": [
        "prettier --write \"src/**/*.{css,scss,less,sass}\"",
        "stylelint \"src/**/*.{css,scss,less,sass}\" --fix"
    ]
}

custom input
  .eslintrc
  package-lock.json
  package.json
  src/App/App.tsx
  src/components/CustomInput/CustomInput.module.scss
  src/components/CustomInput/CustomInput.tsx
  src/components/CustomInput/CustomInput.types.ts
  src/components/CustomInput/InputFacade/InputFacade.tsx
  src/components/CustomInput/InputFacade/InputFacade.types.ts
  src/components/CustomInput/InputFacade/index.ts
  src/components/CustomInput/index.ts
  src/theme/global.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

login ready
  src/App/App.tsx
  src/components/LoginForm/LoginForm.module.scss
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/LoginForm.types.ts
  src/components/LoginForm/LoginForm.utils.ts
  src/components/LoginForm/index.ts
  src/components/SignUpForm/SignUpForm.tsx
  src/components/SignUpForm/SignUpForm.types.ts
  src/theme/variables.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

login register complete
  src/App/App.tsx
  src/components/AuthorisationCard/AuthorisationCard.module.scss
  src/components/AuthorisationCard/AuthorisationCard.tsx
  src/components/AuthorisationCard/AuthorisationCard.types.ts
  src/components/AuthorisationCard/index.ts
  src/components/LoginForm/LoginForm.module.scss
  src/components/SignUpForm/SignUpForm.module.scss
  src/layouts/FlipCardLayout/FlipCardLayout.module.scss
  src/layouts/FlipCardLayout/FlipCardLayout.tsx
  src/layouts/FlipCardLayout/FlipCardLayout.types.ts
  src/layouts/FlipCardLayout/index.ts
  src/theme/mixins.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

mobile
  src/App/App.tsx
  src/components/AuthorisationCard/AuthorisationCard.tsx
  src/hooks/useWindowSize.ts
  src/utils/document/getWindowSize.ts
  src/utils/document/index.ts
  src/utils/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

login page
  .eslintrc
  package-lock.json
  package.json
  src/App/App.tsx
  src/api/axios.ts
  src/assets/heart_3d.png
  src/components/AuthorisationCard/AuthorisationCard.module.scss
  src/components/AuthorisationCard/AuthorisationCard.tsx
  src/components/BottomNavigationTabs/BottomNavigationTabs.constants.ts
  src/components/BottomNavigationTabs/BottomNavigationTabs.module.scss
  src/components/BottomNavigationTabs/BottomNavigationTabs.tsx
  src/components/BottomNavigationTabs/index.ts
  src/components/Button/Button.module.scss
  src/components/CustomInput/CustomInput.module.scss
  src/components/LoginForm/LoginForm.module.scss
  src/components/SignUpForm/SignUpForm.module.scss
  src/components/ThemeToggle/ThemeToggle.stories.tsx
  src/components/WelcomeMessage/WelcomeMessage.module.scss
  src/components/WelcomeMessage/WelcomeMessage.tsx
  src/components/WelcomeMessage/index.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/index.ts
  src/routes.ts
  src/theme/mixins.scss
  src/theme/variables.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix build
  package-lock.json
  package.json
  src/components/Fields/CustomInputField/CustomInputField.types.ts
  src/components/LoginForm/LoginForm.types.ts
  src/components/SignUpForm/SignUpForm.types.ts
  src/components/Typography/Typography.module.scss
  src/components/Typography/Typography.types.ts
  src/components/Typography/index.ts
  src/theme/text-mixins.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

demo page
  src/App/App.tsx
  src/components/ChatMessage/ChatMessage.module.scss
  src/components/ChatMessage/ChatMessage.tsx
  src/components/ChatMessage/ChatMessage.types.ts
  src/components/ChatMessage/index.ts
  src/pages/DemoPage/DemoPage.module.scss
  src/pages/DemoPage/DemoPage.tsx
  src/pages/DemoPage/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

chat item and chat message
  package.json
  src/components/ChatItem/ChatItem.module.scss
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/ChatItem/index.ts
  src/pages/DemoPage/DemoPage.module.scss
  src/pages/DemoPage/DemoPage.tsx
  src/theme/variables.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

gen api
  .gitignore
  package-lock.json
  package.json
  scripts/generateAPI.ts
  src/generated/swagger-docs/api.ts
  src/generated/swagger-docs/apis/app-api.ts
  src/generated/swagger-docs/apis/auth-api.ts
  src/generated/swagger-docs/apis/users-api.ts
  src/generated/swagger-docs/base.ts
  src/generated/swagger-docs/configuration.ts
  src/generated/swagger-docs/index.ts
  src/generated/swagger-docs/models/api-check-username-available-response.ts
  src/generated/swagger-docs/models/api-user-entity-response.ts
  src/generated/swagger-docs/models/check-username-available-dto.ts
  src/generated/swagger-docs/models/create-user-dto.ts
  src/generated/swagger-docs/models/index.ts
  src/generated/swagger-docs/models/login-dto.ts
  src/generated/swagger-docs/models/update-user-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

gen api folder fix
  scripts/generateAPI.ts
  src/generated/api.ts
  src/generated/apis/app-api.ts
  src/generated/apis/auth-api.ts
  src/generated/apis/users-api.ts
  src/generated/base.ts
  src/generated/configuration.ts
  src/generated/index.ts
  src/generated/models/api-check-username-available-response.ts
  src/generated/models/api-user-entity-response.ts
  src/generated/models/check-username-available-dto.ts
  src/generated/models/create-user-dto.ts
  src/generated/models/index.ts
  src/generated/models/login-dto.ts
  src/generated/models/update-user-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

register works
  package-lock.json
  package.json
  src/components/AuthorisationCard/AuthorisationCard.tsx
  src/components/SignUpForm/SignUp.utils.ts
  src/components/SignUpForm/SignUpForm.tsx
  src/components/SignUpForm/SignUpForm.types.ts
  src/types/form.ts
  src/utils/api/handleResponseAndThrowErrorIfExists.ts
  src/utils/api/index.ts
  src/utils/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update api
  scripts/generateAPI.ts
  src/api/axios.ts
  src/generated/api.ts
  src/generated/apis/app-api.ts
  src/generated/apis/chat-api.ts
  src/generated/apis/search-api.ts
  src/generated/apis/users-api.ts
  src/generated/models/api-chat-message-author-response.ts
  src/generated/models/api-chat-message-entity-details-response.ts
  src/generated/models/api-chat-message-entity-search-item-response.ts
  src/generated/models/api-chat-room-entity-details-response.ts
  src/generated/models/api-chat-room-entity-response.ts
  src/generated/models/api-chat-room-entity-search-item-response.ts
  src/generated/models/api-user-entity-search-item-response.ts
  src/generated/models/index.ts
  src/generated/models/search-messages-params-dto.ts
  src/generated/models/search-params-dto.ts
  src/utils/api/handleResponseAndThrowErrorIfExists.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

init layout
  .stylelintrc
  src/App/App.tsx
  src/components/AuthorisationCard/AuthorisationCard.tsx
  src/components/ChatItem/ChatItem.module.scss
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/SidebarChats/SidebarChats.module.scss
  src/components/SidebarChats/SidebarChats.tsx
  src/components/SidebarChats/SidebarChats.types.ts
  src/components/SidebarChats/index.ts
  src/components/SignUpForm/SignUp.utils.ts
  src/components/SignUpForm/SignUpForm.tsx
  src/hooks/useNodeUid.ts
  src/layouts/PageLayout/PageLayout.module.scss
  src/layouts/PageLayout/PageLayout.tsx
  src/layouts/PageLayout/PageLayout.types.ts
  src/layouts/PageLayout/index.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/HomePage.types.ts
  src/pages/HomePage/index.ts
  src/store/chats/chats.actions.ts
  src/store/chats/chats.reducer.ts
  src/store/chats/index.ts
  src/store/index.ts
  src/store/user/index.ts
  src/store/user/user.actions.ts
  src/store/user/user.reducer.ts
  src/store/windowSize/index.ts
  src/store/windowSize/windowSize.reducer.ts
  src/theme/dark-theme.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

auth flow
  src/App/App.tsx
  src/api/axios.ts
  src/components/BottomNavigationTabs/BottomNavigationTabs.module.scss
  src/components/BottomNavigationTabs/BottomNavigationTabs.tsx
  src/components/ChatItem/ChatItem.module.scss
  src/components/ChatItem/ChatItem.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/ProtectedRoute/ProtectedRoute.types.ts
  src/components/ProtectedRoute/index.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/components/Typography/Typography.module.scss
  src/components/Typography/Typography.types.ts
  src/index.tsx
  src/layouts/PageLayout/PageLayout.module.scss
  src/layouts/PageLayout/PageLayout.tsx
  src/store/user/index.ts
  src/store/user/user.selector.ts
  src/theme/text-mixins.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

chats page, home page
  src/App/App.tsx
  src/pages/ChatsPage/ChatsPage.module.scss
  src/pages/ChatsPage/ChatsPage.tsx
  src/pages/ChatsPage/index.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/routes.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

rtk query
  package-lock.json
  package.json
  src/App/App.tsx
  src/api/socketService.ts
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/pages/ChatDetailsPage/ChatDetailsPage.module.scss
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
  src/pages/ChatDetailsPage/index.ts
  src/pages/ChatsPage/ChatsPage.tsx
  src/pages/DemoPage/DemoPage.tsx
  src/routes.ts
  src/store/index.ts
  src/store/sockets/index.ts
  src/store/sockets/sockets.api.ts
  src/types/chat.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

update api
  src/generated/apis/email-api.ts
  src/generated/models/api-chat-room-entity-details-response.ts
  src/generated/models/api-chat-room-entity-response.ts
  src/generated/models/api-user-entity-response.ts
  src/generated/models/change-password-dto.ts
  src/generated/models/confirm-email-dto.ts
  src/generated/models/create-chat-message-dto.ts
  src/generated/models/create-chat-message-event-dto.ts
  src/generated/models/create-group-chat-room-dto.ts
  src/generated/models/create-group-chat-room-member-dto.ts
  src/generated/models/create-private-chat-room-dto.ts
  src/generated/models/create-private-chat-room-event-dto.ts
  src/generated/models/forgot-password-dto.ts
  src/generated/models/index.ts
  src/generated/models/join-leave-group-chat-room-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

init socket
  src/components/SidebarChats/SidebarChats.tsx
  src/pages/ChatDetailsPage/ChatDetailsPage.module.scss
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
  src/store/sockets/sockets.api.ts
  src/store/user/user.actions.ts
  src/store/user/user.reducer.ts
  src/theme/text-mixins.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

can send and receive messages
  src/App/App.tsx
  src/layouts/PageLayout/PageLayout.tsx
  src/pages/ChatDetailsPage/ChatDetailsPage.module.scss
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
  src/pages/ChatDetailsPage/ChatDetailsPage.types.ts
  src/pages/ChatDetailsPage/ChatDetailsPage.utils.ts
  src/pages/ChatsPage/ChatsPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/routes.ts
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

generate api
  src/generated/api.ts
  src/generated/apis/auth-api.ts
  src/generated/apis/chat-api.ts
  src/generated/apis/email-api.ts
  src/generated/apis/files-api.ts
  src/generated/models/api-chat-room-entity-details-response.ts
  src/generated/models/api-chat-room-entity-with-members-response.ts
  src/generated/models/api-file-entity-response.ts
  src/generated/models/api-user-entity-response.ts
  src/generated/models/index.ts
  src/generated/models/user-entity-response-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

create room
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/CreateChatModal/CreateChatModal.hooks.ts
  src/components/CreateChatModal/CreateChatModal.module.scss
  src/components/CreateChatModal/CreateChatModal.tsx
  src/components/CreateChatModal/CreateChatModal.types.ts
  src/components/CreateChatModal/CreateChatModal.utils.ts
  src/components/CreateChatModal/index.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/layouts/PageLayout/PageLayout.tsx
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

some responsive redesign
  src/components/SidebarChats/SidebarChats.module.scss
  src/components/SidebarChats/SidebarChats.types.ts
  src/components/SidebarSettings/SidebarChats.module.scss
  src/components/SidebarSettings/SidebarChats.tsx
  src/components/SidebarSettings/SidebarChats.types.ts
  src/components/SidebarSettings/index.ts
  src/components/UserOptionsModal/UserOptionsModal.hooks.ts
  src/components/UserOptionsModal/UserOptionsModal.module.scss
  src/components/UserOptionsModal/UserOptionsModal.tsx
  src/components/UserOptionsModal/UserOptionsModal.types.ts
  src/components/UserOptionsModal/index.ts
  src/layouts/PageLayout/PageLayout.tsx
  src/pages/ChatsPage/ChatsPage.module.scss
  src/pages/ChatsPage/ChatsPage.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

implement some settings and confirm email
  src/App/App.tsx
  src/components/ConfirmEmailModal/ConfirmEmailModal.hooks.ts
  src/components/ConfirmEmailModal/ConfirmEmailModal.module.scss
  src/components/ConfirmEmailModal/ConfirmEmailModal.tsx
  src/components/ConfirmEmailModal/ConfirmEmailModal.types.ts
  src/components/ConfirmEmailModal/index.ts
  src/components/SidebarSettings/SidebarChats.module.scss
  src/components/SidebarSettings/SidebarChats.tsx
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettings/index.ts
  src/layouts/PageLayout/PageLayout.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
  src/theme/text-mixins.scss
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

change axios config
  src/api/axios.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

try fix safari
  src/api/axios.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update auth
  src/api/axios.ts
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update api
  scripts/generateAPI.ts
  src/generated/apis/app-api.ts
  src/generated/apis/auth-api.ts
  src/generated/apis/chat-api.ts
  src/generated/apis/face-analyze-api.ts
  src/generated/apis/files-api.ts
  src/generated/apis/search-api.ts
  src/generated/apis/users-api.ts
  src/generated/models/api-check-analyze-job-status-successful-response.ts
  src/generated/models/api-face-info-entity-response.ts
  src/generated/models/api-schedule-analyze-job-response.ts
  src/generated/models/api-user-entity-with-face-info-response.ts
  src/generated/models/index.ts
  src/generated/models/schedule-analyze-job-response.ts
  src/generated/models/update-face-info-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fckin safari fixes
  public/dev.html
  public/index.html
  public/prod.html
  src/App/App.tsx
  src/api/axios.ts
  src/api/localConfigService.ts
  src/api/socketService.ts
  src/index.tsx
  src/store/sockets/sockets.api.ts
  src/types/localStorage.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

added test model
  .eslintignore
  package-lock.json
  package.json
  public/curly-woman.gltf
  public/curly-woman/curly-woman.gltf
  src/App/App.tsx
  src/components/EditSettingsForm/EditSettingsForm.module.scss
  src/components/EditSettingsForm/EditSettingsForm.tsx
  src/components/EditSettingsForm/EditSettingsForm.types.ts
  src/components/EditSettingsForm/index.ts
  src/components/ModelViewer/ModelViewer.module.scss
  src/components/ModelViewer/ModelViewer.tsx
  src/components/ModelViewer/ModelViewer.types.ts
  src/components/ModelViewer/index.ts
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/ProtectedRoute/ProtectedRoute.types.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/UserOptionsModal/UserOptionsModal.hooks.ts
  src/components/UserOptionsModal/UserOptionsModal.tsx
  src/index.tsx
  src/layouts/PageLayout/PageLayout.tsx
  src/models/CurlyWomanModel.tsx
  src/pages/EditSettingsPage/EditSettingsPage.module.scss
  src/pages/EditSettingsPage/EditSettingsPage.tsx
  src/pages/EditSettingsPage/EditSettingsPage.types.ts
  src/pages/EditSettingsPage/index.ts
  src/routes.ts
  src/utils/canvas/generateEyeMaterial.ts
  src/utils/canvas/index.ts
  src/utils/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

beauty
  src/App/App.tsx
  src/components/SidebarSettings/SidebarChats.module.scss
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/UserOptionsModal/UserOptionsModal.hooks.ts
  src/routes.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

update versions
  package-lock.json
  package.json
Due: none

fix routing and fix positioning
  .eslintrc
  src/App/App.tsx
  src/components/ChatItem/ChatItem.module.scss
  src/components/ChatItem/ChatItem.tsx
  src/components/CustomLinkButton/CustomLinkButton.module.scss
  src/components/CustomLinkButton/CustomLinkButton.tsx
  src/components/CustomLinkButton/CustomLinkButton.types.ts
  src/components/CustomLinkButton/index.ts
  src/components/ModelViewer/ModelViewer.tsx
  src/components/ModelViewer/ModelViewer.types.ts
  src/components/SidebarSettings/SidebarSettings.tsx
  src/layouts/PageLayout/PageLayout.tsx
  src/models/CurlyWomanModel.tsx
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ProfilePage.types.ts
  src/pages/ProfilePage/index.ts
  src/routes.ts
  src/utils/canvas/generateEyeMaterial.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix routing bug and added edit form
  src/components/ChatItem/ChatItem.tsx
  src/components/CustomLinkButton/CustomLinkButton.tsx
  src/components/CustomLinkButton/CustomLinkButton.types.ts
  src/components/ModelViewer/ModelViewer.tsx
  src/components/ModelViewer/ModelViewer.types.ts
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettingsEdit/SidebarSettings.utils.ts
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.module.scss
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.types.ts
  src/components/SidebarSettingsEdit/index.ts
  src/layouts/PageLayout/PageLayout.tsx
  src/models/CurlyWomanModel.tsx
  src/pages/EditSettingsPage/EditSettingsPage.tsx
  src/pages/EditSettingsPage/EditSettingsPage.types.ts
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

init photo logic
  package-lock.json
  package.json
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/components/SidebarSettingsEdit/usePhotoGallery.ts
  src/index.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

normalize data
  src/components/SidebarChats/SidebarChats.tsx
  src/store/sockets/index.ts
  src/store/sockets/sockets.api.ts
  src/store/sockets/sockets.selectors.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

details modal
  src/components/ChatDetailsModal/ChatDetailsModal.hooks.ts
  src/components/ChatDetailsModal/ChatDetailsModal.module.scss
  src/components/ChatDetailsModal/ChatDetailsModal.tsx
  src/components/ChatDetailsModal/ChatDetailsModal.types.ts
  src/components/ChatDetailsModal/ChatDetailsModal.utils.ts
  src/components/ChatDetailsModal/UserItem/UserItem.module.scss
  src/components/ChatDetailsModal/UserItem/UserItem.tsx
  src/components/ChatDetailsModal/UserItem/UserItem.types.ts
  src/components/ChatDetailsModal/UserItem/index.ts
  src/components/ChatDetailsModal/index.ts
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

update api
  src/generated/apis/auth-api.ts
  src/generated/apis/chat-api.ts
  src/generated/apis/email-api.ts
  src/generated/apis/files-api.ts
  src/generated/apis/users-api.ts
  src/generated/models/api-chat-room-entity-details-response.ts
  src/generated/models/api-chat-room-entity-owner-response.ts
  src/generated/models/index.ts
  src/generated/models/update-chat-room-dto.ts
  src/generated/models/user-entity-response-dto.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

add chat actions logic like add to members
  scripts/generateAPI.ts
  src/api/axios.ts
  src/api/localConfigService.ts
  src/api/socketService.ts
  src/components/AddToChatModal/AddToChatModal.hooks.ts
  src/components/AddToChatModal/AddToChatModal.module.scss
  src/components/AddToChatModal/AddToChatModal.tsx
  src/components/AddToChatModal/AddToChatModal.types.ts
  src/components/AddToChatModal/AddToChatModal.utils.ts
  src/components/AddToChatModal/index.ts
  src/components/ChatDetailsModal/ChatDetailsModal.tsx
  src/components/ChatDetailsModal/ChatDetailsModal.types.ts
  src/components/ChatDetailsModal/UserItem/UserItem.module.scss
  src/components/ChatDetailsModal/UserItem/UserItem.types.ts
  src/components/CreateChatModal/CreateChatModal.hooks.ts
  src/components/CreateChatModal/CreateChatModal.tsx
  src/components/CreateChatModal/CreateChatModal.types.ts
  src/components/CreateChatModal/CreateChatModal.utils.ts
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.types.ts
  src/components/SidebarSettingsEdit/usePhotoGallery.ts
  src/components/UserOptionsModal/UserOptionsModal.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
  src/store/sockets/sockets.api.ts
  src/store/sockets/sockets.selectors.ts
  src/types/chat.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix
