Repository antoffee/chat-app-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

favicon
  public/android-chrome-192x192.png
  public/android-chrome-256x256.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/dev.html
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/mstile-150x150.png
  public/prod.html
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: none

fix join leave flow
  src/components/ChatDetailsModal/ChatDetailsModal.tsx
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix reauth flow
  src/App/App.tsx
  src/store/auth/auth.actions.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

minor fix
  src/App/App.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

minor fix
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/api/axios.ts
  src/api/constants.ts
  src/api/socketService.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

added files upload
  package-lock.json
  package.json
  src/App/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/EditSettingsForm/EditSettingsForm.module.scss
  src/components/EditSettingsForm/EditSettingsForm.tsx
  src/components/EditSettingsForm/EditSettingsForm.types.ts
  src/components/EditSettingsForm/index.ts
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/components/SidebarSettingsEdit/usePhotoGallery.ts
  src/routes.ts
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

added face analyze integration
  src/components/AvatarEditor/AvatarEditor.module.scss
  src/components/AvatarEditor/AvatarEditor.tsx
  src/components/AvatarEditor/AvatarEditor.types.ts
  src/components/AvatarEditor/index.ts
  src/components/AvatarUploader/AvatarUploader.module.scss
  src/components/AvatarUploader/AvatarUploader.tsx
  src/components/AvatarUploader/AvatarUploader.types.ts
  src/components/AvatarUploader/index.ts
  src/components/ChatDetailsModal/ChatDetailsModal.tsx
  src/components/ChatDetailsModal/UserItem/UserItem.tsx
  src/components/ChatDetailsModal/UserItem/UserItem.types.ts
  src/components/ChatItem/ChatItem.tsx
  src/components/ChatItem/ChatItem.types.ts
  src/components/ModelViewer/ModelBase/index.tsx
  src/components/ModelViewer/ModelViewer.tsx
  src/components/ModelViewer/ModelViewer.types.ts
  src/components/SidebarChats/SidebarChats.tsx
  src/components/SidebarSettingsEdit/SidebarSettings.utils.ts
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/hooks/usePhotoGallery.ts
  src/pages/DemoPage/DemoPage.tsx
  src/pages/EditSettingsPage/EditSettingsPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix redux flow
  src/components/AvatarUploader/AvatarUploader.tsx
  src/components/AvatarUploader/AvatarUploader.types.ts
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix some styles
  src/components/AvatarEditor/AvatarEditor.module.scss
  src/components/AvatarEditor/AvatarEditor.tsx
  src/components/SidebarSettings/SidebarSettings.module.scss
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettings/SidebarSettings.types.ts
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.module.scss
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

added editor options on edit settings page
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.module.scss
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.tsx
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.types.ts
  src/components/AvatarEditor/AvatarConstructor/index.ts
  src/components/AvatarEditor/AvatarEditor.tsx
  src/utils/face/colorNameToHex.ts
  src/utils/face/index.ts
  src/utils/face/rgbStrToHex.ts
  src/utils/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

models fixes
  public/common-man/man-model.gltf
  src/App/App.tsx
  src/api/axios.ts
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.tsx
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.types.ts
  src/components/AvatarEditor/AvatarEditor.tsx
  src/components/ModelViewer/ModelBase/index.tsx
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/index.tsx
  src/models/CurlyWomanModel.tsx
  src/models/ManCommonModel.tsx
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
  src/utils/canvas/generateEyeMaterial.ts
  src/utils/face/colorNameToHex.ts
  src/utils/face/hexToRgbStr.ts
  src/utils/face/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

added man model
  public/common-man/man-model.gltf
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.module.scss
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.tsx
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.types.ts
  src/components/AvatarEditor/AvatarEditor.tsx
  src/components/ModelViewer/ModelViewer.tsx
  src/models/ManCommonModel.tsx
  src/models/ManModelBase.tsx
  src/models/WomanModelBase/index.tsx
  src/store/auth/auth.actions.ts
  src/utils/face/hexToRgbStr.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix desktop styles and logic
  src/components/CreateChatModal/CreateChatModal.tsx
  src/components/CreateChatModal/CreateChatModal.utils.ts
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/components/UserOptionsModal/UserOptionsModal.hooks.ts
  src/components/UserOptionsModal/UserOptionsModal.tsx
  src/constants/formErrors.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

add mobile
  src/App/App.tsx
  src/components/AuthorisationCard/AuthorisationCard.module.scss
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.module.scss
  src/components/AvatarEditor/AvatarConstructor/AvatarConstructor.tsx
  src/components/BottomNavigationTabs/BottomNavigationTabs.constants.ts
  src/components/BottomNavigationTabs/BottomNavigationTabs.tsx
  src/components/SidebarSettings/SidebarSettings.module.scss
  src/components/SidebarSettings/SidebarSettings.tsx
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.module.scss
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/components/UserOptionsModal/UserOptionsModal.hooks.ts
  src/layouts/FlipCardLayout/FlipCardLayout.module.scss
  src/pages/AvatarEditPage/AvatarEditPage.module.scss
  src/pages/AvatarEditPage/AvatarEditPage.tsx
  src/pages/AvatarEditPage/index.ts
  src/routes.ts
  src/utils/face/hexToRgbStr.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

runs in simulator
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/Podfile
  package-lock.json
  package.json
Due: none

fix ios modals
  android/app/capacitor.build.gradle
  android/app/src/main/assets/capacitor.plugins.json
  android/capacitor.settings.gradle
  src/components/AddToChatModal/AddToChatModal.tsx
  src/components/ChatDetailsModal/ChatDetailsModal.module.scss
  src/components/ConfirmEmailModal/ConfirmEmailModal.module.scss
  src/components/CreateChatModal/CreateChatModal.module.scss
  src/components/CreateChatModal/CreateChatModal.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

add avatar modal
  src/assets/heart_3d.png
  src/components/AvatarModal/AvatarModal.hooks.ts
  src/components/AvatarModal/AvatarModal.module.scss
  src/components/AvatarModal/AvatarModal.tsx
  src/components/AvatarModal/AvatarModal.types.ts
  src/components/AvatarModal/index.ts
  src/components/ChatDetailsModal/UserItem/UserItem.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix email confirm
  src/components/SidebarSettings/SidebarSettings.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

enter add
  src/components/EnterKeyFormSubmitter/EnterKeyFormSubmitter.tsx
  src/components/EnterKeyFormSubmitter/EnterKeyFormSubmitter.types.ts
  src/components/EnterKeyFormSubmitter/index.ts
  src/pages/ChatDetailsPage/ChatDetailsPage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix final
  android/.gitignore
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/capacitor.plugins.json
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/capacitor.settings.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/variables.gradle
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/AppDelegate.swift
  ios/App/App/Info.plist
  ios/App/Podfile
  package-lock.json
  package.json
  src/api/localConfigService.ts
  src/api/socketService.ts
  src/components/AvatarUploader/AvatarUploader.tsx
  src/components/ChatDetailsModal/ChatDetailsModal.tsx
  src/components/ChatDetailsModal/UserItem/UserItem.module.scss
  src/components/ChatDetailsModal/UserItem/UserItem.tsx
  src/components/ChatItem/ChatItem.tsx
  src/hooks/usePhotoGallery.ts
  src/pages/AvatarEditPage/AvatarEditPage.module.scss
  src/pages/AvatarEditPage/AvatarEditPage.tsx
  src/store/auth/auth.actions.ts
  src/store/sockets/sockets.api.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

forgot pass working
  src/App/App.tsx
  src/components/ConfirmEmailModal/ConfirmEmailModal.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/SidebarSettings/SidebarSettings.module.scss
  src/store/auth/auth.actions.ts
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

fix large footer
  src/components/SidebarSettings/SidebarSettings.module.scss
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.module.scss
Due: prettier --write "src/**/*.{css,scss,less,sass}", stylelint "src/**/*.{css,scss,less,sass}" --fix

add alert
  src/components/SidebarSettingsEdit/SidebarSettingsEdit.tsx
  src/store/auth/auth.reducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

Path conditions:
  eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)": any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write "src/**/*.+(js|jsx|ts|tsx|json)": any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write "src/**/*.{css,scss,less,sass}": any of: src/**/*.{css,scss,less,sass}
  stylelint "src/**/*.{css,scss,less,sass}" --fix: any of: src/**/*.{css,scss,less,sass}
